/*
 * HOMEBASE
 * Contains all styles for homebase, compiled from scss to css
 */

$accent: #C31F30;

body, html {
    margin: 0;
    padding: 0;
    background: #eee;
}

canvas#c {
    background: #fff;
    display: block;
    margin: 0 auto;
}

svg.floor-menu {
    left: 380px;
}

svg.app-menu, svg.floor-menu {
    display: block;
    pointer-events: none;
    max-width: 120px;
    position: absolute;
    z-index: 999;
    fill: darken($accent, 5%);

    // Individual options
    & path {
        pointer-events: auto;
        &:hover {
            fill: darken($accent, 8%);
        }
    }

    // The menu button
    & #toggle {
        pointer-events: auto;
        fill: $accent;
        &:hover {
            fill: darken($accent, 5%);
        }
    }

    & .icon {
        fill: white;
        pointer-events: none;
    }
    & #options-floor g#floor1 {
        transform-origin: 200% 0%;
    }
    & #options-floor g#floor3 {
        transform-origin: 100% -100%;
    }

    & #options-app g, & #options-floor g {
        transition: 0.3s transform;
        &#music, &#floor3 {
            transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
        }
        &#temp, &#floor1 {
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }
        &#lighting {
            transition: 0.32s transform;
            transform: translate(-150px, -150px);
            -ms-transform: translate(-150px, -150px);
            -webkit-transform: translate(-150px, -150px);
        }
        &#floor2 {
            transition: 0.32s transform;
            transform: translate(150px, -150px);
            -ms-transform: translate(150px, -150px);
            -webkit-transform: translate(150px, -150px);            
        }
    }

    & #options-app.toggle-app-menu {
        & g#music, & g#temp, & g#lighting {
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
        }
    }
    & #options-floor.toggle-floor-menu {
        & g#floor1, & g#floor2, & g#floor3 {
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
        }
    }
}

.logo-holder {
    background: $accent;
    display: block;
    padding: 5px 0;
    max-width: 500px;

    svg.logo {
        display: block;
        margin: auto;
        max-width: 250px;

        .base {
            fill:white;
            stroke:white;
            stroke-width:10;
        }
        .house, .roof {
            fill:$accent;
            stroke:white;
            stroke-width:15;
            stroke-miterlimit:10;
        }
        .roof{
            stroke-linecap:round;
            stroke-linejoin:round;
        }
        .words{
            fill:white;
        }
    }
}